body{
 color: #424242;
 background-color: #ECEFF1;
 font-family: sans-serif;
}

h1{
  color: #03A9F4;
  text-align: center;
  margin-top: 20px;
}

img{
  width: 150px;
}

ul{
  list-style: none;
  font-size: 20px;
  background-color: #FFF;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #90A4AE;
}

li{
  margin-bottom: 10px;
  padding: 5px;
}

li:hover{
  background-color: #E1F5FE;
  border-radius: 3px;
}

a{
  text-decoration: none;
  color: #424242;
  vertical-align: middle;
}

div{
  width: 60%;
  margin: 20px auto 0px auto;
}

input[type="text"], input[type="number"]{
  font-size: 20px;
  background-color: #FFF;
  outline: none;
  border-style: none;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #90A4AE;
}

.pomodoro-estimate{
  font-weight: bold;
  color: #F44336;
  background-color: #F5F5F5;
  border-radius: 50px;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
}

#add-new-todo-button{
  font-size: 20px;
  text-align: center;
  color: #FFF;
  outline: none;
  border-style: none;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 1px #90A4AE;
  display: block;
  background-color: #03A9F4;
  margin-top: 10px;
}

#add-new-todo-button:active{
  box-shadow: 1px 1px 1px #90A4AE;
}